<!DOCTYPE html>
{% set settings = sylius_settings_all('general') %}
<html>
    <head>
        <title>
            {% block title %}
                {{ settings.title|default('sylius.meta.frontend_title'|trans) }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}">
        <meta name="keywords" content="{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}">

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

        {# stylesheets... #}
        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" type="text/css" />
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css" />
            {% stylesheets output='assets/compiled/frontend.css' filter='cssrewrite'
                '@SyliusWebBundle/Resources/assets/css/frontend.css'
                '@SyliusWebBundle/Resources/assets/css/blueimp-gallery.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
        
        {% block head_javascripts %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {% endblock head_javascripts %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
        {% block header %}
            <nav class="shop-menu navbar navbar-default navbar-fixed-top collapse navbar-collapse" role="navigation">
                <a class="logo navbar-brand" href="{{ path('sylius_homepage') }}" title="{{ 'sylius.logo'|trans }}"><span>{{ 'sylius.logo'|trans }}</span></a>
                <div class="currency-switcher">
                    {{ knp_menu_render('sylius.frontend.currency', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
                </div>

                <ul class="shop-info navbar-text">
                    <li class="promo">
                        {% if settings.promo %}
                            <h1 class="promo-text">{{ settings.promo }}</h1>
                        {% endif %}
                    </li>
                    <li class="address">
                        {% if settings.address %}
                            <span class="icon glyphicon glyphicon-globe"></span>
                            <span class="address-text">{{ settings.address }}</span>
                        {% endif %}
                    </li>
                    <li class="phones-section">
                        {# <span class="icon glyphicon glyphicon-phone"></span> #}
                        <ul class="phones">
                            {% if settings.phones|length > 0 %}
                                {% for phone in settings.phones %}
                                    <li><span class="operator">{{ phone.operator }}</span>: <span class="number">{{ phone.number }}</span></li>
                                {% endfor %}
                            {% endif %}
                            {% if settings.skype %}
                                <li><span class="operator">skype</span>: <span class="number">{{ settings.skype }}</span></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>

                {{ knp_menu_render('sylius.frontend.main', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
            </nav>
        {% endblock %}

        {% block flashes %}
            {% for name, flashes in app.session.flashbag.all if name in ['success', 'error', 'fos_user_success'] %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ name == 'fos_user_success' ? 'success' : name == 'error' ? 'danger' : name }}">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        {{ flash|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        {% block main %}
        <hr>
        <div class="row row-background">
        </div>
        <div class="row">
            <div class="col-md-3" id="sidebar">
                {% block sidebar %}
                <h4>{{ 'sylius.shop_by'|trans }}</h4><br>
                {{ knp_menu_render('sylius.frontend.taxonomies', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
                {{ render(url('sylius_partial_product_latest', {'limit': {'limit': 5, 'block' : 'recommended'}, 'template': 'SyliusWebBundle:Frontend/Product:latestSidebar.html.twig'})) }}
                {% endblock %}
            </div>
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <hr>
        {% endblock %}

        {% block gallery %}
            {# Gallery modal #}
            {% include 'SyliusWebBundle::gallery.html.twig' %}
        {% endblock %}

        {# Confirmation modal #}
        {% include 'SyliusWebBundle::confirm-modal.html.twig' %}

        {% block footer %}
            <div class="footer">
                <p class="text-muted text-center">
                    &copy; varloc2000, 2014{{ 2014 != 'now'|date('Y') ? ' - ' ~ 'now'|date('Y') : '' }}.
                </p>
            </div>
        {% endblock %}
        </div>

        {# javascripts... #}
        {% block javascripts %}
            <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
        {% javascripts output='assets/compiled/frontend.js'
            '@SyliusWebBundle/Resources/assets/js/jquery.blueimp-gallery.min.js'
            '@SyliusWebBundle/Resources/assets/js/confirm-modal.js'
            '@SyliusWebBundle/Resources/assets/js/frontend.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>
