{{ form_errors(form) }}

<div class="row">
    <div class="col-md-7 row-split">
        {{ form_row(form.name, {'label_attr': {'class': 'my-super-class'}}) }}
        {{ form_row(form.presentation, {'label_attr': {'class': 'my-super-class'}}) }}
    </div>

    <div class="col-md-5">
        {{ form_widget(form.values) }}
    </div>
</div>
<hr>

{{ form_widget(form._token) }}
