{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{# {% set form = sylius_cart_form({'product': product}) %} #}

{% block content %}
<div class="row product-box single-product">
    <div class="thumbnail">
        <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}">
            <img class="img-rounded" src="{{ product.image ? product.image.path|imagine_filter('sylius_200x200') : 'http://placehold.it/200x200/D7BB79/AF8524' }}" alt="{{ product.name }}" />
        </a>
        <div class="caption">
            <h3>{{ product.name }}</h3>
            <p>{{ product.shortDescription|default('sylius.product.no_description')|trans|raw }}</p>
            <div>
                <h4>{{ 'sylius.product.description'|trans }}</h4>
                <p>{{ product.description|default('sylius.product.no_description')|trans|raw }}</p>
            </div>
        </div>
    </div>
    <span class="shop-product-price label label-info">{{ product.price|sylius_price }}</span>
</div>
{% if product.images|length > 0 %}
<hr>
<div id="gallery">
    {% for image in product.images %}
        <a href="{{ image.path|imagine_filter('sylius_gallery') }}" title="{{ product.name }}">
            <img class="img-rounded" src="{{ image.path|imagine_filter('sylius_90x60') }}" alt="{{ product.name }}" />
        </a>
    {% endfor %}
</div>
{% endif %}
<hr>
<div class="row">
    <div class="col-md-6">
        {% if product.properties|length > 0 %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th colspan="2">{{ 'sylius.product.properties'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for property in product.properties %}
                <tr>
                    <td>{{ property.presentation }}</td>
                    <td>{{ property.value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <div class="col-md-6">
        {% if product.options|length > 0 %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ 'sylius.product.options'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for option in product.options %}
                    <tr>
                        <td>{{ option.presentation }}</td>
                        <td>{{ option.values|join(', ') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
<hr>
{% endblock %}
